
.Accordion {
	overflow: hidden;
	margin:8px auto;
}

.AccordionPanel {
	margin: 0px;
	padding: 0px;
}

.AccordionPanelTab {
	margin: 0px auto;
    cursor: pointer;
	-moz-user-select: none;
	-khtml-user-select: none;
	width:190px;
	background: #CEE89B url(../images/skin_green/left_menuBG.gif) no-repeat left top;
	height:30px;
	line-height:30px;
	_height:25px;
	_padding-top:5px;
	font-size:14px;
	font-weight:bold;
	color:#000;
	clear:both;
	display:block;
	text-align:left;
	font-weight: normal;
	border-bottom:solid #fff 1px;
}
.AccordionPanelTab span {
	padding-left:10px;
}
.AccordionPanelContent {
	overflow: hidden;
	margin: 0px auto;
	padding: 0px;
	height: auto;
	border:solid #ebebeb 0px;
}

.AccordionPanelOpen .AccordionPanelTab {
	background: #5BAB63 url(../images/skin_green/left_menuBG2.gif) no-repeat left top;
	color:#FFF;
	height:30px;
	line-height:30px;
	_height:25px;
	_padding-top:5px;
	border-bottom:solid #fff 1px;
}

.AccordionPanelTabHover {
	color: #333;
	background: #5BAB63 url(../images/skin_green/left_menuBG2.gif) no-repeat left top;
	height:30px;
	line-height:30px;
	_height:25px;
	_padding-top:5px;
	border-bottom:solid #fff 1px;
}
.AccordionPanelOpen .AccordionPanelTabHover {
	color: #fff;
	background: #5BAB63 url(../images/skin_green/left_menuBG2.gif) no-repeat left top;
	border-bottom:solid #fff 1px;
}

.AccordionFocused .AccordionPanelTab {
	/*background-color: #fff;*/
	background: #CEE89B url(../images/skin_green/left_menuBG.gif) no-repeat left top;
    border-bottom:solid #fff 1px;
}

.AccordionFocused .AccordionPanelOpen .AccordionPanelTab {
	/*background-color: #fff;*/
	background: #CEE89B url(../images/skin_green/left_menuBG.gif) no-repeat left top;
	height:30px;
	line-height:30px;
	_height:25px;
	_padding-top:5px;
	border-bottom:solid #fff 1px;
}

@media print {

  .Accordion {
  overflow: visible !important;
  }
  
  .AccordionPanelContent {
  display: block !important;
  overflow: visible !important;
  height: auto !important;
  }
}



/*******************************************************************/
/*.sumenu {
 margin:0px auto;
 width:170px;
}
.sumenu_O {
 background-color:#0CC;
}
.sumenu td {
 font-size:12px;
 padding-left: 22px;
 height:24px;
 background-image: url(../images/menu_line.gif);
 background-repeat: no-repeat;
 background-position: -8px bottom;
 text-align:left;
 font-weight:normal;
}
.sumenu .none_td {
 font-size:12px;
 padding-left: 12px;
 height:24px;
 text-align:left;
 font-weight:normal;
 background:none;
}
.sumenu .none_td tr:hover {
 background: transparent;
}
.sumenu .obj_menu td {
 font-size:12px;
 padding-left: 22px;
 height:24px;
 background-image: url(../images/menu_line2.gif);
 background-repeat: no-repeat;
 background-position: -8px bottom;
 text-align:left;
 font-weight:normal;
}
.sumenu .odd {
 background-color:#EAF0FB;
}
.sumenu tr:hover {
 background-color:#E7EDF8;
 color:#000;
 cursor: pointer;
}
.sumenu thead tr:hover {
 background: transparent;
 color: #000;
}*/



/***********************************************/
.sub { text-align:left; margin:0; padding:0}
.sub ul{ text-align:left; margin:0; padding:0}
.sub li{ text-align:left; margin:0; padding:0}
.sub li.menuList { /*无子菜单项*/
	text-align:left;
	height:28px;
	line-height:28px;
	overflow:hidden;
	padding-left:18px;
	margin:0;
	*margin-left:-16px;
	background-image: url(../images/menu_line_obj.gif);
    background-repeat: no-repeat;
	background-position: 0px 4px;
	font-size:14px;
}

.mainMenu {
	margin: 0;
	padding:0;
	list-style:none;
	white-space: nowrap;
}
.mainMenu ul{
    margin:0;
    padding:0;
	padding-left:0px;			/*liliang add*/
	*margin-left:0px;/*IE 6*/
	*float:left;/*IE 6*/
	*width:160px;/*IE 6*/
}
/********二级菜单父菜单项 .menuList_fu   li.menubar*******/
.menuList_fu {
    margin: 0px;
    *padding: 5px 0px 5px 20px;
	*padding: 5px 0px 5px 20px;
	text-align:left;
	background-image: url(../images/menu_line.gif);
    background-repeat: no-repeat;
	background-position: 0px 4px;		/*0px 4px liliang add*/
}
li.menubar {
    font-size: 14px;
    line-height:28px;
    list-style: none outside;
	*width:160px;/*IE 6*/
	margin:0;
}
.menuList_fu ul{
    margin:0;
    padding:0;
    margin-left:10px;
	*margin-left:5px;/*IE 6*/
}

.menu2, .submenu {
    display: none;
    margin-left: 10px;
    padding: 0px;
}
.menu2 li, .submenu li {
    background: url(../images/menu_line2.gif) no-repeat -12px top;
    list-style: none outside;
	white-space:nowrap;
	overflow:hidden;
	width:150px;
}
a.actuator {
    background-color: transparent;
    color: #333;
    font-size: 14px;
    padding-left: 15px;
    text-decoration: none;
}
a.actuator:hover {
    text-decoration: underline;
}
.menu2 {
	background-color:#FFF;
	width:170px;
}
.menu2 li a, .submenu li a {
    background-color: transparent;
    color: #333;
    font-size: 14px;
    padding-left: 20px;
    text-decoration: none;
}
.menu2 li a:hover, submenu li a:hover {
    text-decoration: underline;
}
span.key {
    text-decoration: underline;
}


.sub {
	width:190px;

}
ul { list-style:none}
li { list-style:none}



/******************************************************************
首页左侧
*******************************************************************/
.indexPanelTab {
	margin: 0px auto;
	cursor: pointer;
	-moz-user-select: none;
	-khtml-user-select: none;
	width:190px;
	background: #CEE89B url(../images/skin_green/left_menuBG.gif) no-repeat left top;
	height:30px;
	line-height:30px;
	_height:25px;
	_padding-top:5px;
	font-size:14px;
	font-weight:bold;
	color:#000;
	clear:both;
	display:block;
	text-align:left;
	font-weight: normal;
	border-bottom:solid #FFF 1px;
}
.indexPanelTab span {
	padding-left:10px;
}
.indexPanelOpen .indexPanelTab {
	background: #58A860 url(../images/skin_green/left_menuBG2.gif) no-repeat left top;
	color:#FFF;
	line-height:30px;
	height:30px;
	_height:25px;
	_padding-top:5px;
	border-bottom:solid #FFF 1px;
}
.indexPanelTab:Hover {
	background: #58A860 url(../images/skin_green/left_menuBG2.gif) no-repeat left top;
	color: #333;
	border-bottom:solid #FFF 1px;
}
.indexPanelTabHover {
	background: #58A860 url(../images/skin_green/left_menuBG2.gif) no-repeat left top;
	color: #fff;
	border-bottom:solid #FFF 1px;
}
.indexPanelOpen .indexPanelTabHover {
	background: #58A860 url(../images/skin_green/left_menuBG2.gif) no-repeat left top;
	color: #fff;
}
.indexPanelOpen {
	background: #58A860 url(../images/skin_green/left_menuBG2.gif) no-repeat left top;
	color: #fff;
}


