<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<!-- 是否启动缓存 -->
    	<setting name="cacheEnabled" value="true" />
    	<!-- 是否启动懒加载 -->
   	 	<setting name="lazyLoadingEnabled" value="true" />
   	 	<!-- 当字段值为null时是否换回空字段 -->
   	 	<setting name="callSettersOnNulls" value="true"/>
	</settings>
	<plugins>  
   		<plugin interceptor="com.github.miemiedev.mybatis.paginator.OffsetLimitInterceptor">  
			<property name="dialectClass" value="com.github.miemiedev.mybatis.paginator.dialect.MySQLDialect" />
			<!-- 同步（启动1个线程进行查询）查询list和totalCount，异步启动2个现场进行查询 ，当然需要注意的是，只要你用到了异步查询，由于里面使用了线程池，所以在使用时就要加入清理监听器，以便在停止服务时关闭线程池。需要在web.xml中加入<listener-class>com.github.miemiedev.mybatis.paginator.CleanupMybatisPaginatorListener</listener-class>  -->
			<property name="asyncTotalCount" value="false"/>
   		</plugin>
	</plugins>
</configuration>